{% extends 'pages/base.jinja' %}

{% block title %}
  Flask demo - entered number
{% endblock %}

{% block content %}

   <h2>Number intered</h2>

   <article id="random">
      {{ number }}
   </article>
 
    
{% endblock %}