{% extends 'pages/base.jinja' %}

{% block title %}
  Flask demo - random num
{% endblock %}

{% block content %}

   <h2>Random number</h2>

   <article id="random">
      {{ number }}
   </article>
 
    
{% endblock %}